project:
  title: "hw5"
  output-dir: docs

bibliography: references.bib
author: "Gabe Schwartz"
date: "2024-10-7"

format:
  html:
    input: indexg.qmd         
    output-file: hw5_report.html

  pdf:
    input: index.qmd        
    output-file: hw5_report.pdf

  # revealjs:
  #   input: presentation.qmd  
  #   output-file: hw5_presentation.html



